<section data-section="airports">
    <div class="row">
        <div class="col s12">
            <div class="row card hoverable" style="margin: 8px;">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" v-model="inputText" style="border-bottom: none; margin-bottom: 0;">
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="col s12" v-if="favorites.length > 0">
            <p style="font-weight: light; margin-top: 8px;">Favorites</p>
            <ul class="collection">
                <li
                    :key="index"
                    v-for="(result, index) in favorites"
                    class="collection-item"
                >
                    <div class="row" style="margin-bottom: 0; position: relative;">
                        <div class="col s1" style="height: 42px; display: table;">
                            <b style="vertical-align: middle;display: table-cell;">{{ result.icao }}</b>
                        </div>
                        <div class="col s8">
                            <b>{{ result.name }}</b>
                            <p style="margin: 0;">{{ result.city }}, {{ result.country }}</p>
                        </div>
                        <div style="position: absolute; right: 8px;">
                            <button class="btn waves-effect red" @click="removeFavorite(index)">
                                <i class="material-icons">favorite</i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <p style="font-weight: light; margin-top: 8px;">RESULTS (Showing {{ results.length }} result)</p>
            <ul class="collection" v-if="results.length > 0">
                <li
                    :key="index"
                    v-for="(result, index) in results"
                    class="collection-item"
                >
                    <div class="row" style="margin-bottom: 0; position: relative;">
                        <div class="col s1" style="height: 42px; display: table;">
                            <b style="vertical-align: middle;display: table-cell;">{{ result.icao }}</b>
                        </div>
                        <div class="col s8">
                            <b>{{ result.name }}</b>
                            <p style="margin: 0;">{{ result.city }}, {{ result.country }}</p>
                        </div>
                        <div style="position: absolute; right: 8px;">
                            <button class="btn waves-effect" @click="addFavorite(index)">
                                <i class="material-icons">favorite_border</i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <small style="display: flex; justify-content: center;">
                <span>Not seeing the data you want? <a href="#" @click="openModal">Add</a> your own data.</span>
            </small>
        </div>

        <div id="newEntry" class="modal">
            <div class="modal-header indigo darken-4 white-text" style="padding: 8px;">
                <h5 style="font-weight: lighter; margin: 0;">New Entry</h5>
                <small>Airlines</small>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="newEntry__icao" v-model="entryPreview.icao" type="text" class="validate">
                        <label for="newEntry__icao">ICAO</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEntry__name" v-model="entryPreview.name" type="text" class="validate">
                        <label for="newEntry__name">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEntry__city" v-model="entryPreview.city" type="text" class="validate">
                        <label for="newEntry__city">City</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEntry__country" v-model="entryPreview.country" type="text" class="validate">
                        <label for="newEntry__country">Country</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right">
                        <button class="btn blue col s12" @click="addEntry">Add Entry</button>
                    </div>
                </div>

                <p>Preview</p>
                <ul class="collection">
                    <li>
                        <div class="row" style="margin-bottom: 0; position: relative;">
                            <div class="col s1" style="height: 42px; display: table;">
                                <b style="vertical-align: middle;display: table-cell;">{{ entryPreview.icao }}</b>
                            </div>
                            <div class="col s8">
                                <b>{{ entryPreview.name }}</b>
                                <p style="margin: 0;">{{ entryPreview.city }}, {{ entryPreview.country }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>