<section>
    <div class="row" style="margin: 8px 0;">
        <div class="col s12">
            <ul class="tabs card pink darken-4 aliasNavigationTabs">
                <li class="tab col s3"><a class="active" href="#editor">Editor</a></li>
                <li class="tab col s3"><a href="#commandsList">Commands List</a></li>
                <li class="tab col s3"><a href="#artccConnection">ARTCC Connection</a></li>
                <li class="tab col s3"><a href="#help">Help</a></li>
            </ul>
        </div>
        <div id="editor" class="col s12" style="overflow: none;">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="commandsEditor" style="font-family: monospace; height: -webkit-fill-available;" v-model="commandsEditorContent"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button
                        class="btn blue"
                        v-bind:class="{ disabled: !isUpdateAvailable }"
                        @click="updateAlias"><i class="material-icons">save</i></button>
                </div>
            </div>
        </div>
        <div id="commandsList" class="col s12" style="overflow-x: hidden; overflow-y: visible;">
            <div
                class="card hoverable"
                :key="index"
                v-for="(header, index) in commandsListContents"
            >
                <div class="card-header" style="background-color: royalblue; padding: 8px; color: #FFF;" v-if="header.name">
                    <h5 style="font-weight: lighter; margin: 0;">{{ header.name }}</h5>
                </div>
                <div class="card-content" style="padding: 0;">
                    <ul class="collection" style="margin: 0;">
                        <virtual-list :size="50" :remain="10">
                            <li
                                class="collection-item row"
                                v-for="(command, index) in header['commands']"
                            >
                                <div class="col s3">
                                    <kbd style="width: fit-content; float: right;">{{ command[0] }}</kbd>
                                </div>
                                <div class="col s9">
                                    <span>{{ command[1] }}</span>
                                </div>
                            </li>
                        </virtual-list>
                    </ul>
                </div>
            </div>
        </div>
        <div id="artccConnection" class="col s12">
            This page will be implemented at a later versions of this program.
        </div>
        <div id="help" class="col s12">
            <div class="card">
                Purpose?
            </div>
        </div>
    </div>
</section>