<section data-section="scratchpad_codes">
    <div class="row">
        <div class="col s12">
            <div class="row card hoverable" style="margin: 8px;">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" v-model="inputText" style="border-bottom: none; margin-bottom: 0;">
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="col s12" v-if="favorites.length > 0">
            <p style="font-weight: light; margin-top: 8px;">Favorites</p>
            <ul class="collection">
                <li
                    :key="index"
                    v-for="(result, index) in favorites"
                    class="collection-item"
                >
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s1" style="height: 42px; display: table; border-right: 1px solid #ffc8c89e;">
                            <b style="vertical-align: middle; display: table-cell">{{ result.icao }}</b>
                        </div>
                        <div class="col s3" style="height: 42px; display: table; ">
                            <span style="vertical-align: middle; display: table-cell">{{ result.procedure }}</span>
                        </div>
                        <div class="col s3" style="height: 42px; display: table;">
                            <span style="vertical-align: middle; display: table-cell">{{ result.transition }}</span>
                        </div>
                        <div class="col s5" style="height: 42px; display: table;">
                            <span style="vertical-align: middle; display: table-cell">{{ result.scratch }}</span>
                        </div>
                        <div style="position: absolute; right: 8px;">
                            <button class="btn red waves-effect" @click="removeFavorite(index)">
                                <i class="material-icons">favorite</i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <p style="font-weight: light; margin-top: 8px;">RESULTS (Showing {{ results.length }} result)</p>
            <ul class="collection" v-if="results.length > 0">
                <li
                    :key="index"
                    v-for="(result, index) in results"
                    class="collection-item"
                >
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s1" style="height: 42px; display: table; border-right: 1px solid #ffc8c89e;">
                            <b style="vertical-align: middle; display: table-cell">{{ result.icao }}</b>
                        </div>
                        <div class="col s3" style="height: 42px; display: table; ">
                            <span style="vertical-align: middle; display: table-cell">{{ result.procedure }}</span>
                        </div>
                        <div class="col s3" style="height: 42px; display: table;">
                            <span style="vertical-align: middle; display: table-cell">{{ result.transition }}</span>
                        </div>
                        <div class="col s5" style="height: 42px; display: table;">
                            <span style="vertical-align: middle; display: table-cell">{{ result.scratch }}</span>
                        </div>
                        <div style="position: absolute; right: 8px;">
                            <button class="btn waves-effect" @click="addFavorite(index)">
                                <i class="material-icons">favorite_border</i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <small style="display: flex; justify-content: center;">
                <span>Not seeing the data you want? <a href="#" @click="openModal">Add</a> your own data.</span>
            </small>
        </div>

        <div id="newEntry" class="modal">
            <div class="modal-header indigo darken-4 white-text" style="padding: 8px;">
                <h5 style="font-weight: lighter; margin: 0;">New Entry</h5>
                <small>Scratchpad Codes</small>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="newEntry__icao" v-model="entryPreview.icao" type="text" class="validate">
                        <label for="newEntry__icao">ICAO</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEntry__procedure" v-model="entryPreview.procedure" type="text" class="validate">
                        <label for="newEntry__procedure">Procedure</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEntry__transition" v-model="entryPreview.transition" type="text" class="validate">
                        <label for="newEntry__transition">Transition</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEntry__scratch" v-model="entryPreview.scratch" type="text" class="validate">
                        <label for="newEntry__scratch">Scratch</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right">
                        <button class="btn blue col s12" @click="addEntry">Add Entry</button>
                    </div>
                </div>

                <p>Preview</p>
                <ul class="collection">
                    <li>
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col s1" style="height: 42px; display: table; border-right: 1px solid #ffc8c89e;">
                                <b style="vertical-align: middle; display: table-cell">{{ entryPreview.icao }}</b>
                            </div>
                            <div class="col s3" style="height: 42px; display: table; ">
                                <span style="vertical-align: middle; display: table-cell">{{ entryPreview.procedure }}</span>
                            </div>
                            <div class="col s3" style="height: 42px; display: table;">
                                <span style="vertical-align: middle; display: table-cell">{{ entryPreview.transition }}</span>
                            </div>
                            <div class="col s5" style="height: 42px; display: table;">
                                <span style="vertical-align: middle; display: table-cell">{{ entryPreview.scratch }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>