:root {
    --nav-active: #F8F;
}

header, main, section {
    padding-left: 300px;
}

li.active {
    background-color: var(--nav-active) !important;
}

@media only screen and (max-width : 992px) {
    header, main, section {
        padding-left: 0;
    }
}